Django==3.2.15
Pillow==9.5.0

django-allauth==0.54.0
django-debug-toolbar==4.1.0
django-environ==0.10.0
django-extensions==3.2.3
django-redis==5.3.0
djangorestframework==3.14.0

celery==5.3.1
redis==4.6.0

flake8==6.0.0
isort==6.0.0.b2

psycopg2==2.9.6

stripe==6.0.0

